.title {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto';
}

.button {
    height: 30px;
    padding: 2px;
    margin: 0 auto;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Noto Sans';
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(173, 173, 173);
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 22px;
    user-select: none;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    transform: scale(0.98);
}
.button img {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    margin-left: 2px;
}

.test-display {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: hsl(200, 60%, 60%);
    border-radius: 4px;
    text-align: center;
}
.mobile .test-display {
    width: 98%;
    background-color: unset;
}
.test-buttons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question {
    width: 90%;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    display: block;
    font-family: 'Noto Sans';
    user-select: none;

    border-radius: 8px;
    border: 1px solid rgb(218, 220, 224);
    box-shadow: 1px 1px 1px hsla(220, 9%, 80%, 0.3);
    background-color: white;
}
.mobile .question {
    width: 100%;
}

input[type="file"] {
    display: none;
}

.question-text textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

.question-answer {
    width: 100%;
    margin-top: 20px;
}
.question-answer >* {
    display: inline-block;
    vertical-align: top;
}
.question-image {
    width: 100%;
    text-align: center;
}
.question-image * {
    display: block;
    margin: 0 auto;
}
.question-image img {
    max-width: 80%;
}
.file-label {
    color: rgb(45, 123, 212);
    text-decoration: underline;
}
.file-label:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.radio {
    display: block;
    margin-top: 14px;
}
.radio * {
    display: inline-block;
    vertical-align: top;
}
.radio input {
    margin-top: 4px;
}

.question-answer textarea {
    margin-left: 4px;
    padding: 2px;

    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
}