.title {
    font-family: 'Roboto';
    font-size: 46px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.content-holder {
    width: calc(500px + 10vw);
    /*height: 160px;*/
    display: block;
    background-color: rgba(250, 252, 254, 0.9);
    border: 2px solid rgb(110, 114, 116);
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}
.back-button {
    width: 85px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(63, 64, 65);
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(192, 20, 20);
    padding-top: 2px;
    user-select: none;
}
.back-button:hover{
    background-color: rgb(161, 161, 161);
    border: 1px solid rgb(110, 112, 114);
    cursor: pointer;
}
.field-label {
    text-align: center;
    margin: 0;
    font-size: 21px;
    margin-bottom: 4px;
    margin-top: 10px;
    font-family: 'Noto Sans';
}

.students {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.student {
    width: 100%;
    height: 35px;
    background-color: hsl(210, 17%, 93%);
    text-align: left;
    font-family: 'Noto Sans';
    display: block;
    position: relative;
    text-decoration: none;
    color: black;

    margin: 0;
    padding: 5px;
    padding-left: 7px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.student:hover {
    background-color: hsl(210, 4%, 73%);
}
.student::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: hsl(210, 4%, 73%);
}
.student:hover::after {
    background-color: orange;
}

.content-holder-mb {
    width: 96%;
    /*height: 160px;*/
    display: block;
    background-color: rgba(250, 252, 254, 0.9);
    border: 2px solid rgb(110, 114, 116);
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}